command="/home/pair/bin/pair_menu",no-X11-forwarding ssh-rsa ympIizzdx0nRJNXgZ2TZMp5QMoWbGFQ1tQr7anNSAlXwekHkK0kpFAaMAl3ibBxbhNjOfv2mlqqu4ErJbX5zyeLOvDqvlRtRd8thzesMHqxPfTKEAq3z3W4CJIY46Glgsqe4NoUxB0fCUPnIY3tyPmUPFchRnSwL5uxQyfd3OYpHR1XnxUf9Ge29oWCLMQ1CW95yMMwWMgrho1pun1Se3ZtmaI0FvdvqgOERX061iXtnMfsOMawNEWEr4ts6L0db= bob@laptop.local
command="/home/pair/bin/pair_menu",no-X11-forwarding ssh-rsa 0cdSP4f0RGNJeyf5lVGarMk73X2oCp9Oar61gqKYlAil6mk9NPgV4xmmsCqJWmoTD6aqqGx6uYRIK55Y8tp7QfjROavK1Cr08LxhUt9CoO7lbRWK98xBnSvFAEK7ac2XwXhRQUvPdYaA0db8aqtt9L9kUDPed2wbJDwYxA3qIkFNmYiloHljLeZ05gPADGH72hPA5us7dK31DLviczZYk19aIB4RVVDKpinGlVtsztKrm36AXOA0v73FPgHdi7V1= janet@foo
command="/home/pair/bin/pair_menu",no-X11-forwarding ssh-rsa Y86qsU1tfEAcHZeZJnBe34cG1H24aSu6QnkHhGkyXgPXckdyNXnfBR0eAksSFgnSmSQspLuWsL50N1Kg0F2vVqdH1g1u9VZeS7iX0PU4ltVjtK5ZqnQiGydXyW4JflUpNjNDZLxnCmhDV1Eqvc43zxoWHaUR7wJ6GDFAzTxW5IlSNXVyaiI6eGUku7sF2l6zMpKxUZ9JruxqM24a9g4UaMtlyHQol94rJIqIK2Ott66HFSY568G5IqOI1DUxbjKR= mike@somewhere.com
