command="~/bin/pairit bob",permitopen="localhost:5900" ssh-rsa 0xXdtlmfTiLNhwXZmbguETfCTQtMgFraUieKhgk4QYyAbhb0YMGlK1ChVyoYmCE9FsV0w9FNOheerlLFzAuG9lS2PvTm1UvHYD3XXG9vuqk7OIBcq7OhIgt9gRI83cGj Bob@laptop.local
